{% extends 'base.html' %}

{% block body %}
<h1>새로운 학생</h1>

<!-- {# url 'students:create' #} -->
<form action="" method="POST" enctype="multipart/form-data">       <!-- action=""은 자기자신의 주소로 요청을 보냄 --> 
    <!-- 1. application/x-www-from-urlencoded -->
    <!-- 문자열만 전송(기본값) -->
    <!-- 2. multipart/form-data -->
    <!-- 바이너리(파일 및 이미지)도 전송 가능 -->
    <!-- 3. text/plain -->
    <!-- 인코딩 하지 않음. -->

    {% csrf_token %}
    <label for="">이름 : </label>
    <input type="text" name="name"><br>
        
    <label for="">나이 : </label>
    <input type="number" name="age">

    <label for="">사진 : </label>
    <input type="file" name="image" accept="image/*">

    <input type="submit">
</form>

{% endblock %}